:root{
    --background-color: #fff;
    --background-light: #fff;
    --primary-color: rgb(255, 0, 86);
    --shadow-color: rgba(0,0,0,0.2);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
  }
  body{
    font-size: var(--font-size);
  }
  .Receipe-component{
    height: 320px;
    width: 100%;
    margin-left: 0;
    box-shadow: 0px 2px 12px var(--shadow-color);
    border-radius: 3px;
 
  }
  .Receipe-component div img{
    transition: all calc(var(--animation-speed)*0.5s) ease-in-out;
  }
  .Receipe-component img:hover{
    transform: scale(1.2);
    transition: all calc(var(--animation-speed)*0.5s) ease-in-out;
  }
  .img-div{
    overflow: hidden;
    height: 45%;
  }
  .img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0 0;
  }
  .profile{
    width: 100%;
    height:55% ;
  }
  .profile-img{
    position: relative;
    height: 30px;
    width: 100%;
  }
  .profile-img img{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--background-light);
    padding: 3px;
    outline: 1.5px solid rgb(202, 207, 202);
    top: -25px;
    left: 15px;
  }
  .profile-details{
    width: 100%;
    height: 100%;
    padding: 2px;
  }
  .profile-details h4{
    font-size: 17px;
    text-transform: capitalize;
    padding: 0 6px;
  }
  .profile-details p{
    width: 100%;
    height: 40%;
    overflow: hidden;
    color: var(--text-light);
    padding: 6px;
  } 
  .profile-details a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    margin:10px 6px;
    width: 100%;
    display: block;

  }
