:root{
    --background-color: #fff;
    --background-light: #fff;
    --primary-color: rgb(255, 0, 86);
    --shadow-color: rgba(0,0,0,0.2);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
 }
 .settings-div{
    width: 100%;
    height: auto; 
    margin-top: 10px;
 }
 .settings-div h3{
    color: var(--text-color);
 }
  .theme{
    display: inline-block;
    border-radius: 5px;
    border-left: 5px solid var(--primary-color);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-shadow: 2px 2px 12px var(--shadow-color) ;
  }
  .theme div{
    margin: 10px 10px 10px 0;
  }
.color{
    background-color:white;
    margin-right: 10px;
    border: 2px ;
    height: 50px;
    width: 50px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
  }
.theme-white{
    background-color:rgb(255, 255, 255);
    box-shadow: 0 2px 12px var(--shadow-color);

}
.theme-black{
    background-color: black;
    box-shadow: 0 2px 12px var(--shadow-color);

}
.color:nth-child(1){
    box-shadow: 0 2px 12px var(--shadow-color);
}
.color:nth-child(2){
    box-shadow: 0 2px 12px var(--shadow-color);
}
.color:nth-child(3){
    box-shadow: 0 2px 12px var(--shadow-color);
}
.color:nth-child(4){
    box-shadow: 0 2px 12px var(--shadow-color);
}
.color:nth-child(5){
    box-shadow: 0 2px 12px var(--shadow-color);
}

.theme button{
    border: none;
    background-color: var(--primary-color);
    letter-spacing: 0.5px;
    padding: 10px;
    font-size: 1rem;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 12px var(--shadow-color);
}
.h3{
    color:var(--text-color);
}




